.img-carousel {
    position: relative;
    z-index: 0;
    .arrow-right,
    .arrow-left {
        z-index: 99;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        padding: 0;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 2.5rem;
        box-shadow: rgba(39, 39, 59, 0.323) 0px 6px 8px -2px, rgba(0, 0, 0, 0.15) 0px 3px 7px -3px;
        opacity: 0;
        transition: opacity 0.18s ease;
        font-size: 0.75rem;
    }
    .arrow-left {
        left: 2%;
    }
    .arrow-right {
        right: 2%;
    }
    &:hover .arrow-left,
    &:hover .arrow-right {
        opacity: 1;
    }

    .dots-pagination {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        z-index: 99;
        > div {
            display: inline-flex;
            border-radius: 55px;
            width: 6px;
            height: 6px;
            background-color: #ffffff7e;
            &.active {
                background-color: #ffffffe7;
            }
        }
    }
}
.images-container {
    z-index: 0;
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.023) 0px 6px 8px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
    overflow-x: scroll;
    border-radius: px-to-rem(12px);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-bottom: 1.25rem;
    position: relative;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
    ::selection {
        background-color: transparent;
    }
    .carousel-item-container {
        @include aspect-ratio(20, 19);
        min-height: 100%;
        min-width: 100%;
        scroll-snap-align: start;

        overflow: hidden;
    }
}
