.stay-preview {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: start;
    border-radius: 1rem;
    transition-duration: 200ms;
    width: 100%;
    background-color: #fff;

    .details {
        color: $base-text-color;
        display: grid;

        gap: 0.4em 0.8em;
        grid-template-columns: minmax(0, 1fr);
        flex-direction: column;
        .name,
        .labels,
        .price {
            font-size: 15px;
            line-height: 19px;
        }
        .name {
            font-weight: 400;
        }
        .labels {
            color: $gray-B;
            font-weight: 300;
        }
        .price {
            font-weight: 400;
            .prefix {
                font-weight: 400;
            }
        }
    }
    &.map-view {
        position: absolute;
        top: 50%;
        left: 0%;
        width: 300px;
        transform: translateX(-50%);
        .details {
            padding: 1rem;
        }
        .img-carousel {
            .images-container {
                .carousel-item-container {
                    @include aspect-ratio(6, 4);
                }
            }
        }
    }
}

.map-stay-preview {
    position: relative;
    top: 3rem;
}
